<h3 *ngIf="isAddMode" mat-dialog-title>Adicionar Ponteira</h3>
<h3 *ngIf="!isAddMode" mat-dialog-title>Editar Ponteira</h3>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="createdAt">
      <input type="hidden" formControlName="updatedAt">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col col-3">
          <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input matInput placeholder="Quantidade" formControlName="amount">
          </mat-form-field>
        </div>
       
        <div class="col col-2">
          <mat-checkbox class="check-box-inline" formControlName="single" checked="form.value.single"  >Único</mat-checkbox>
        
        </div>
      </div>
      <div class="row">
        <div class="col col-3">
          <mat-form-field appearance="outline">
            <mat-label>Valor Consumível</mat-label>
            <input matInput placeholder="Valor Consumível" formControlName="value" prefix="R$ " mask="separator.2" thousandSeparator=".">
          </mat-form-field>
        </div>
       
        <div class="col col-2">
          <mat-checkbox class="check-box-inline" formControlName="hasConsumable" checked="form.value.hasConsumable" >Consumível</mat-checkbox>

          <mat-checkbox class="check-box-inline" formControlName="active" checked="form.value.active" >Ativo</mat-checkbox>

        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
</div>