@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.availability-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 16px 16px 32px 16px;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__separate {
    margin-left: 10px;
    float: left;
  }

  &__search {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 10px;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: $fs-normal;
    border: 0;
    outline: none;

    @media (max-width: $small) {
      width: 150px;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: $grey;

    &:hover {
      background-color: $black-08;
      color: $blue;
    }
  }
}

.availability-table {
  margin-top: 24px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    text-align: left;
    line-height: 40px;
  }

  &__cell {
    font-size: $fs-small;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 24px;
    padding: 16px;
  }

  &__content {
    height: 424px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px;
    text-align: left;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }
}

.form-outline {
  width: 600px;
}

.btn-submit {
  margin-left: 15px;
}

.icon-cloud-download {
  margin-top: -5px;
  margin-right: 15px;
}

.green {
  background-color: rgb(153, 230, 111)!important;
}

.red {
  background-color: rgb(242, 87, 87)!important;
}



.table-scroll {
	position:relative;
	max-width: 1350px;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
  height: 32px;
}
.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}
.fixed-table {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.fixed-table th, .fixed-table td {
	visibility:hidden
}
.fixed-table td, .fixed-table th {
	border-color:transparent
}
.fixed-table tbody th {
	visibility:visible;
	color:blue;
}
.fixed-table .fixed-side {
	border:1px solid #000;
	background:#eee;
	visibility:visible;
}
.fixed-table thead, .fixed-table tfoot {
  background:transparent;
}

.sunday {
  background-color: #ff7070 !important;
}

.subtitle-available {
  float: left;
  background-color: rgb(153, 230, 111);
  width: 25px; 
  height: 25px;
}

.subtitle-unavailable {
  float: left;
  background-color: rgb(242, 87, 87);
  width: 25px; 
  height: 25px;
}

.display {
  text-decoration: dashed;
  margin-top: 10px;
  margin-left: 10px;
}