<div class="footer">
  <div class="footer__link">
    <a class="footer__link-item" target="_blank" [href]="danweb_linktree">DanWeb Contato</a>
    <button mat-mini-fab>
      <a class="footer__link-item" target="_blank" [href]="danweb">
        <mat-icon fontSet="fa fa-fs" fontIcon="fa-instagram"></mat-icon>
      </a>
      
    </button>
  </div>
  <div class="footer__icon">
    <button mat-mini-fab>
      <a class="footer__link-item" target="_blank" [href]="danweb_whatsapp">Suporte</a>
    </button>
  </div>
</div>
